@charset "utf-8";

#header{background-color: rgba(69, 102, 26, 0.5);}

body{background: #f4f4f4;}

/* #cnt1 */
#cnt1{justify-content: space-between; margin-top: 150px; word-break: keep-all;}
#cnt1 img{display: block; width: 780px; height: 658px;}
#cnt1 h2{width: 250px; height: 120px; font-family: GyeonggiBatang; font-size: 60px; font-weight: bold; background: url("../images/common/style_white.png") no-repeat center; background-size: contain;}
#cnt1 p{line-height: 24px;}
#cnt1 .p_time{margin-top: 15px;}
#cnt1 .p_story{width: 410px; margin-top: 100px;}
#cnt1 .p_story::before{content: ''; position: absolute; top: -50px; width: 50px; height: 2px; background: #555;}
#cnt1 > div > div{justify-content: space-between;}
#cnt1 a{display: block; width: 200px; height: 50px; text-align: center; line-height: 48px;border-radius: 5px; transition: all 0.5s; margin-top: 100px;}
#cnt1 a:hover, #cnt1 a:focus{background: #f9f9f9; color: #365902;}

/* #cnt2 */
#cnt2{margin: 120px 0; word-break: keep-all;}
#cnt2 h2{color: #555;}
#cnt2 ul{justify-content: space-between;}
#cnt2 li{width: 370px;}
#cnt2 h3{font-weight: 700; padding: 27px 0 0 20px; font-size: 18px; font-family: NanumSquareRound; line-height: 1; color: #555;}
#cnt2 img{width: 50px; height: 50px;}
#cnt2 li p{position: relative; margin-top: 30px; line-height: 24px;}
#cnt2 li p::before{content: ""; position: absolute; top: -15px; left: 0; width: 370px; height: 2px;line-height: 20px;}

/* #cnt3 */
#cnt3 h2{font-size: 36px; font-family: NanumSquareRound; text-align: center; color: #555;}
#cnt3 .info_tit{padding-top: 70px;}
#cnt3 .cl_tit, #cnt3 .res_tit{margin-top: 150px;}
#cnt3 p{text-align: center; padding-top: 20px;}
#conSlide .slick-wrapper .slick-slide img{width: 100%;padding: 30px;box-sizing: border-box;}
#conSlide .slick-wrapper .slick-slide a{display: block; text-align: center; font-size: 16px;}
.slick-arrow{bottom: -40px;}
.slick-prev{left: 550px;}
.slick-next{right: 550px;}
.slick-prev:before, .slick-next:before{color: #1e1e1e;}
#conSlide .controller{justify-content: space-around; text-align: center; margin: 0 auto; width: 150px; height: 30px; border: 1px solid; border-radius: 15px; margin-top: 60px;}
#conSlide .controller button{width: 71px; height: 26px; line-height: 26px; margin-top: 2px;  border-radius: 14px; box-sizing: border-box; transition: all 0.5s;}
#cnt3 .con_color > div.d_f{margin-top: 50px; justify-content: space-around;}
#cnt3 .con_color .hover_bg{width: 200px; height: 200px; border-radius: 3px; margin: 0 auto; border-radius: 125px; line-height: 150px;}
#cnt3 .con_color .cl_bg p{font-family: NanumSquareRound;font-size: 36px;}
#cnt3 .con_color .cl_bg .c_txt{top: calc(50% - 32px); left: calc(50% - 77px); color: #f2f2f2; text-align: center;}
#cnt3 .con_color .cl_bg .cl_hover{visibility: hidden; top: 150px; left: 50%; transform: translateX(-50%); font-size: 14px;transition: all 0.5s; opacity: 0; word-break: keep-all; color: #f2f2f2;}
#cnt3 .con_color .cl_bg:hover .cl_hover{visibility: visible; opacity: 1; top: 60%;}
#cnt3 .res_list{justify-content: space-around; margin-top: 60px; padding-bottom: 80px;}

/* cnt4-6 공통 */
#cnt4, #cnt5, #cnt6{word-break: keep-all;}
#cnt4 h2, #cnt5 h2, #cnt6 h2{font-size: 36px; font-weight: 700; font-family: NanumSquareRound; margin: 150px 0 50px; text-align: center; color: #555;}
#cnt4 .device, #cnt5 .device, #cnt6 .device{display: block; width: 780px; height: 656px;}
#cnt4 .d_f, #cnt5 .d_f{justify-content: space-between;}
#cnt4 .d_f div, #cnt5 .d_f div{width: 420px; margin-top: 200px;}
#cnt4 .d_f div strong, #cnt5 .d_f div strong, #cnt6 strong{height: 70px; line-height: 70px; font-size: 24px; font-family: NanumSquareRound;}
#cnt4 .d_f div p, #cnt5 .d_f div p, #cnt6 p{margin-bottom: 20px; line-height: 24px;}
#cnt4 .d_f div ul, #cnt5 .d_f div ul, #cnt6 ul{margin-top: 20px; line-height: 24px;}
/* #cnt4 */
#cnt4 .d_f div{text-align: right;}

/* #cnt5 */

/* #cnt6 */
#cnt6{margin-bottom: 150px;}
#cnt6 .device{text-align: center; margin: 0 auto;}
#cnt6 div.p_a{bottom: 0; left: 200px; word-break: keep-all;}
#cnt6 strong{padding-left: 180px;}
#cnt6 p{width: 360px;}
#cnt6 ul{padding-left: 120px;}

/* #footer */
#footer{background: #f4f4f4; color: #1e1e1e;}


/* #sideBar */
#sideBar{right: 5px; bottom: 5px; font-size: 12px;}
#sideBar .top{width: 40px; height: 40px; line-height: 40px; text-align: center; display: block;border-radius: 10px; transition: all 0.5s;}