@charset "utf-8";

#header{background-color: #365902;}
/* #cnt1 */
#cnt1 a{background: #365902; color: #F2BC8D;}
#cnt1 a:hover, #cnt1 a:focus{background: #F2BC8D; color: #365902;}

/* #cnt2 */
#cnt2 li p::before{background: #728C11;}

/* #cnt3 */
#conSlide .controller{color: #365902; border-color:#728C11;}
#conSlide .controller button.on{background: #728C11; color: #f4f4f4;}
.slick-next::before, .slick-prev::before{border: 1px solid #365902; color: #365902;}
.slick-next:hover::before, .slick-prev:hover::before{background: #728c11; color: #f2f2f2; border: none; line-height: 20px;}
.slick-dots > li > button::before{background: #728C11;}
#cnt3 .con_color .cl_bg1{background: #365902;}
#cnt3 .con_color .cl_bg2{background: #728C11;}
#cnt3 .con_color .cl_bg3{background: #F2F2F2; border: 1px solid #000;}
#cnt3 .con_color .cl_bg4{background: #F2BC8D;}
#cnt3 .con_color .cl_bg5{background: #A65F21;}
#cnt3 .con_color .cl_bg .c3{color: #1e1e1e;}

/* cnt4-6 공통 */
#cnt4 h2, #cnt5 h2, #cnt6 h2{color: #555;}
#cnt4 strong, #cnt5 strong, #cnt6 strong{color: #A65F21;}

/* #cnt5 */
#cnt5 .device{height: 783px;}

/* #cnt6 */
#cnt6 .device{text-align: center; margin: 0 auto;}
#cnt6 div.p_a{bottom: 0; left: 200px; word-break: keep-all;}
#cnt6 strong{padding-left: 180px;}
#cnt6 p{width: 360px;}
#cnt6 ul{padding-left: 120px;}

/* #footer */
#footer p{color: #365902;}
#footer p:first-of-type::before{background: #365902;}

/* #sideBar */
#sideBar .top{background: #365902; color: #F2BC8D;}
#sideBar button:hover, #sideBar a:hover{background: #F2BC8D; color: #365902;}